@using api.Models.QLKHCanBo

<RadzenCard Style="margin-bottom:10px">
    <h6>📊 Tiêu chí thống kê số lượng</h6>

    <div class="row">
        <div class="col-md-4">
            <RadzenDropDown Data="@NamHocs"
                            Value="@NamHoc"
                            ValueChanged="@(v => OnNamHocChanged(v))"
                            Placeholder="Năm học"
                            Style="width:100%" />
        </div>

        <div class="col-md-4">
            <RadzenTextBox Value="@CapDeTai"
                           ValueChanged="@(v => OnCapDeTaiChanged(v))"
                           Placeholder="Cấp đề tài"
                           Style="width:100%" />
        </div>
    </div>
</RadzenCard>

@code {
    [Parameter] public string? NamHoc { get; set; }
    [Parameter] public EventCallback<string?> NamHocChanged { get; set; }

    [Parameter] public string? CapDeTai { get; set; }
    [Parameter] public EventCallback<string?> CapDeTaiChanged { get; set; }

    List<string> NamHocs = new() { "2022", "2023", "2024" };

    async Task OnNamHocChanged(object? value)
    {
        NamHoc = value?.ToString();
        await NamHocChanged.InvokeAsync(NamHoc);
    }

    async Task OnCapDeTaiChanged(object? value)
    {
        CapDeTai = value?.ToString();
        await CapDeTaiChanged.InvokeAsync(CapDeTai);
    }
}
